*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.main-container{
    width: 100vw;
}

.form-container{
    width: 90%;
    border: 1px solid black;
    margin: 20px auto;
    padding: 10px;
}

h1{
    text-align: center;
}

.movie-form, .program-form{
    border: 1px solid black;
    padding: 10px;
}

input, select {
    width: 100%;
    display: block;
    padding: 10px;
    margin: 10px 0px;
}

.button{
    border: none;
    background-color: rgb(76,175,79);
    color: white;
}

.button:hover {
    background-color: rgb(103, 201, 106);
    cursor: pointer;
}

select{
    background-color: rgb(240,240,240);
    border-radius: 5px;
    border: none;
}

select:focus{
    outline: none;
    border: 3px solid rgb(130,187,247);
}

p{
    margin: 10px 0px;
}
